DB_ENV_POSTGRES_DATABASE=jingle
DB_ENV_POSTGRES_PASSWORD=password
DB_ENV_POSTGRES_USER=jingle
DB_PORT_5432_TCP_ADDR=db
DB_PORT_5432_TCP_PORT=5432
ID_HOST=id.staging.prx.tech
POSTGRES_USER=jingle
POSTGRES_PASSWORD=password
